.spec-card {
    background-color: #F1F4FB;
    width: 327px;
    height: 160px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;
    border-radius: 18px;
}

.spec-header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    gap: 16px; 
    margin-bottom: 15px;
}

.spec-title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    height: 48px;                  
    padding: 2px 0;                
}

.spec-title {
    font-weight: 200;
    font-size: 14px;
    color: #1F3F7A;
    margin: 0;
}

.spec-value {
    font-weight: 600;
    font-size: 14px;
    margin: 0;
}

.spec-observation-text {
    font-size: 14px;
    color: #333;
    margin: 0;
}
